$purple:#3c2145;
$light-white:#faf9fb;
$grey:rgb(149, 134, 165);
$green:#57be8c;
$font:'Rubik', sans-serif;
$white:white;
$light-black:rgb(62, 52, 70);
$orange:#f9a66d;
$primary-color: royalblue;
$text-color:rgb(31, 30, 30);
$icon-color:rgb(172, 172, 172);
$h1-size: 20px;
$middle-black:rgb(31, 30, 30);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $font;
    
}
a{
    text-decoration: none; 
    color: $light-white; 
}
h1{
    font-size: $h1-size;
}
ul li{
    list-style-type: none;
}